absl-py==0.13.0
aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
audioread==2.1.9
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
chex==0.0.8
click==8.0.1
cycler==0.10.0
-e git+https://github.com/huggingface/datasets.git@15de78071fa95d8871cdfacdfc22877595ef519b#egg=datasets
decorator==5.0.9
dill==0.3.4
dm-tree==0.1.6
ffmpeg==1.4
filelock==3.0.12
flatbuffers==2.0
flax==0.3.4
fsspec==2021.6.1
huggingface-hub==0.0.12
idna==2.10
jax==0.2.17
jaxlib==0.1.68
joblib==1.0.1
kiwisolver==1.3.1
librosa==0.8.1
libtpu-nightly==0.1.dev20210615
llvmlite==0.36.0
matplotlib==3.4.2
msgpack==1.0.2
multidict==5.1.0
multiprocess==0.70.12.2
numba==0.53.1
numpy==1.21.0
opt-einsum==3.3.0
optax==0.0.9
packaging==21.0
pandas==1.3.0
Pillow==8.3.1
pooch==1.4.0
pyarrow==4.0.1
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
resampy==0.2.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
SoundFile==0.10.3.post1
threadpoolctl==2.2.0
tokenizers==0.10.3
toolz==0.11.1
tqdm==4.61.2
-e git+https://github.com/mariagrandury/transformers.git@fb65f65ea6175036f0cc8318145853e9c833f914#egg=transformers
typing-extensions==3.10.0.0
urllib3==1.26.6
xxhash==2.0.2
yarl==1.6.3
